<template>
  <div class="col-lg-3 sm-2 xs-6 md-6 mt-4">
    <select
      class="form-control form-control-md"
      :multiple="multi"
      @input="$emit('input', $event.target.value)"
    >
      <option value>Select...</option>
      <option v-for="option in options" :key="option.value" :value="option.value">{{option.text}}</option>
    </select>
  </div>
</template>
<script>
export default {
  name: "selectList",
  props: ["multi", "options", "name", "label", "value"]
};
</script>