<template>
  <div class="buttonGenerator">
    <b-button
      v-b-modal="myModal"
      :variant="variant"
      :class="classes"
      :type="btnType"
      @click="$emit('buttonClicked', 'clicked')"
    >
      {{ btnText }}
      <i :class="iclass"></i>
    </b-button>
  </div>
</template>
<script>
export default {
  name: "buttonGenerator",
  props: [
    "btnText",
    "btnType",
    "classes",
    "iclass",
    "modelAttribute",
    "variant",
    "myModal"
  ],
  components: {},
  data: () => {
    return {};
  }
};
</script>
<style scoped>
</style>