<template>
  <div class="modalBox">
    <b-modal hide-header hide-header-close hide-footer :id="modalBoxId">
      <header>
        <h5>{{ modalTitle }}</h5>
      </header>
      <hr />
      <section>
        <slot name="section"></slot>
      </section>
      <hr />
      <footer>
        <slot name="footer"></slot>
      </footer>
    </b-modal>
  </div>
</template>
<script>
export default {
  name: "modalBox",
  props: ["modalBoxId", "modalTitle"],
  components: {},
  data: () => {
    return {};
  }
};
</script>