<template>
  <div class="col-lg-3 xl-3 xs-6 mt-4">
    <div class="input-group input-group-md">
      <label :for="id">{{ controlLabel }}</label>
      <input
        :id="id"
        class="form-control"
        type="text"
        :name="name"
        :value="value"
        @input="$emit('input',$event.target.value)"
        :placeholder="placeholder"
      />
    </div>
  </div>
</template>
<script>
export default {
  name: "textInput",
  props: ["placeholder", "label", "name", "value", "controlLabel", "id"]
};
</script>