<template>
  <div class="structure">
    <h3>School(s)</h3>
    <ButtonGenerator
      myModal="my-modal"
      btnText
      btnType="Submit"
      variant="primary"
      classes="btn btn-sm"
      iclass="fa fa-plus"
      @buttonClicked="showModal()"
    ></ButtonGenerator>
    <ModalBoxGenerator v-if="isVisibleModalBox" modalBoxId="my-modal" modalTitle="Add School">
      <template v-slot:section>
        <ModalFormGenerator :schema="formSchema" v-model="schoolData"></ModalFormGenerator>
      </template>
      <template v-slot:footer>
        <ButtonGenerator
          btnText="Cancel"
          btnType="Submit"
          classes="btn btn-md"
          @buttonClicked="onReset()"
        ></ButtonGenerator>
        <ButtonGenerator
          btnText="Submit"
          btnType="Submit"
          variant="primary"
          classes="btn btn-md"
          @buttonClicked="onSubmit()"
        ></ButtonGenerator>
      </template>
    </ModalBoxGenerator>
    <FilterFormGenerator :schema="filterSchema" v-model="formData" @input="search($event)"></FilterFormGenerator>
    <TableGenerator
      :columns="columns"
      :tabelData="structure"
      :pagination="pagination"
      @changeStatus="changeStatus($event)"
      @editData="editData($event)"
      @deleteData="deleteData($event)"
      @viewData="viewData($event)"
      @getRecordsPerPage="getRecordsPerPage($event)"
      @sort="sortData($event)"
      @firstPage="getData(pagination.firstPageUrl)"
      @previousPage="getData(pagination.prevPageUrl)"
      @reditectToPage="reditectToPage($event)"
      @nextPage="getData(pagination.nextPageUrl)"
      @lastPage="getData(pagination.lastPageUrl)"
    ></TableGenerator>
  </div>
</template>
<script>
import FilterFormGenerator from "./filterComponents/formGenerator";
import ModalFormGenerator from "./formComponents/formGenerator";
import TableGenerator from "./tableComponents/tableGenerator";
import ButtonGenerator from "./formComponents/buttonGenerator";
import ModalBoxGenerator from "./formComponents/modalBoxGenerator";
export default {
  name: "structure",
  components: {
    FilterFormGenerator,
    ModalFormGenerator,
    TableGenerator,
    ButtonGenerator,
    ModalBoxGenerator
  },
  data: () => {
    return {
      isVisibleModalBox: false,
      pageTitle: "Structure",
      columns: [
        { label: "Name", name: "name" },
        { label: "School Name", name: "school_name" },
        { label: "Email", name: "email" },
        { label: "Contact", name: "contact" },
        { label: "Status", name: "status" }
      ],
      tableData: {
        perPage: 10,
        grade_name: "",
        grade_status: "",
        sortByField: "grade_id",
        orderBy: "desc",
        country: "",
        status: "",
        school: ""
      },
      pagination: {
        lastPage: "",
        currentPage: "",
        total: 6,
        lastPageUrl: "",
        nextPageUrl: "",
        prevPageUrl: "",
        from: 1,
        to: 6
      },
      structure: [
        {
          id: 1,
          name: "Mohammad Saif Himayat",
          school_name: "CMS",
          email: "SaifHimayat@gmail.com",
          contact: "+91-8564920504",
          status: "Active"
        },
        {
          id: 2,
          name: "John Cena",
          school_name: "LPS",
          email: "johncena@gmail.com",
          contact: "+63-765467",
          status: "Inactive"
        },
        {
          id: 3,
          name: "Dolph Zigler",
          school_name: "Career convent college",
          email: "dolphzigler@gmail.com",
          contact: "+63-56343",
          status: "Inactive"
        },
        {
          id: 4,
          name: "Ray Mysterio",
          school_name: "CMS",
          email: "RayMysterio@gmail.com",
          contact: "+63-43533",
          status: "Inactive"
        },
        {
          id: 5,
          name: "Eddie Gurrero",
          school_name: "LPS",
          email: "EddieGurrero@gmail.com",
          contact: "+63-14535",
          status: "Inactive"
        },
        {
          id: 6,
          name: "Bray Wyatt",
          school_name: "Career convent college",
          email: "BrayWyatt@gmail.com",
          contact: "+63-654234",
          status: "Inactive"
        }
      ],
      formData: {
        country: null,
        status: null,
        school: null
      },
      filterSchema: [
        {
          fieldType: "textInput",
          placeholder: "Search..",
          name: "country",
          value: "India"
        },
        {
          fieldType: "selectList",
          name: "status",
          multi: false,
          options: [
            { value: 1, text: "Active" },
            { value: 2, text: "Inactive" }
          ]
        },
        {
          fieldType: "selectList",
          name: "school",
          multi: false,
          options: [
            { value: 1, text: "CMS" },
            { value: 2, text: "LPS" },
            { value: 3, text: "Idriss School" },
            { value: 4, text: "Career Convent College" }
          ]
        },
        {
          fieldType: "freecol"
        }
      ],
      formSchema: [
        {
          controlLabel: "Name",
          id: "name",
          fieldType: "textInput",
          placeholder: "Enter name!",
          name: "name",
          value: ""
        },
        {
          controlLabel: "School Name",
          id: "school_name",
          fieldType: "textInput",
          placeholder: "Enter school name!",
          name: "school_name",
          value: ""
        },
        {
          controlLabel: "Contact",
          id: "contact",
          fieldType: "textInput",
          placeholder: "Enter Contact!",
          name: "contact",
          value: ""
        },
        {
          controlLabel: "email",
          id: "email",
          fieldType: "textInput",
          placeholder: "Enter Email!",
          name: "email",
          value: ""
        }
      ],
      schoolData: {
        name: null,
        school_name: null,
        contact: null,
        email: null
      }
    };
  },
  methods: {
    getData: function(url) {
      console.log(this.tableData);
    },
    changeStatus: function(data) {
      console.log(data);
    },
    editData: function(structureId) {
      console.log(structureId);
    },
    deleteData: function(structureId) {
      console.log(structureId);
    },
    viewData: function(structureId) {
      console.log(structureId);
    },
    search: function() {
      this.tableData.country = this.formData.country;
      this.tableData.status = this.formData.status;
      this.tableData.school = this.formData.school;
      this.getData();
    },
    getRecordsPerPage: function(perPage) {
      this.tableData.perPage = perPage;
      this.getData();
    },
    sortData: function(sortData) {
      this.tableData.sortByField = sortData.sortKey;
      this.tableData.orderBy = sortData.sortOrder;
      this.getData();
    },
    reditectToPage: function(pageNo) {
      console.log(pageNo);
      this.getData();
    },
    onSubmit: function() {
      console.log(this.schoolData);
      console.log("Form submit code here!");
      this.onReset();
    },
    onReset: function() {
      console.log("Form cancel code here!");
      this.isVisibleModalBox = !this.isVisibleModalBox;
    },
    showModal: function() {
      console.log("Modal active code here");
      this.isVisibleModalBox = !this.isVisibleModalBox;
    }
  }
};
</script>