<template>
  <div>
    <b-row class="pt-4 pb-5">
      <b-col cols="12">
        <div class="table-responsive">
          <table class="table table-borderless d-table">
            <thead>
              <tr>
                <th v-for="column in columns" v-bind:key="column.name">
                  <span>{{ column.label }}</span>
                  <span @click="$emit('sort', {'sortKey':column.name, 'sortOrder': 'ASC'})">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                  </span>
                  <span @click="$emit('sort', {'sortKey':column.name, 'sortOrder': 'DESC'})">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                  </span>
                </th>
                <!-- Action label -->
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in tabelData" v-bind:key="item.id">
                <td v-for="(column, indexColumn) in columns" :key="indexColumn">
                  <span v-if="column.name == 'status'">
                    <button
                      v-if="item[column.name] == 'Active'"
                      type="button"
                      class="btn btn-primary btn-sm"
                      @click="$emit('changeStatus', {'id':item.id, 'status':item.status})"
                    >{{ item[column.name] }}</button>
                    <button
                      v-if="item[column.name] == 'Inactive'"
                      type="button"
                      class="btn btn-danger btn-sm"
                      @click="$emit('changeStatus', {'id':item.id, 'status':item.status})"
                    >{{ item[column.name] }}</button>
                  </span>
                  <span v-else>{{ item[column.name] }}</span>
                </td>
                <!-- Action to be performed -->
                <td>
                  <span class="edit" @click="$emit('editData', item.id)">
                    <i class="fa fa-edit icon"></i>
                    <small>Edit</small>
                  </span>
                  <span class="delete" @click="$emit('deleteData', item.id)">
                    <i class="fa fa-trash icon"></i>
                    <small>Delete</small>
                  </span>
                  <span class="view" @click="$emit('viewData', item.id)">
                    <i class="fa fa-eye icon"></i>
                    <small>View</small>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </b-col>
    </b-row>
    <div class="row dashboard-more-table-data">
      <div class="col-lg-12">
        <div class="table-list-view-more">
          <ul class="table-list-view-more-order-list">
            <li class="view-more-list-item" @click="$emit('firstPage');">
              <i class="fa fa-angle-double-left"></i>
            </li>
            <li class="view-more-list-item" @click="$emit('previousPage');">
              <i class="fa fa-angle-left"></i>
            </li>
            <li
              class="view-more-list-item view-more-list-item-active"
              @click="$emit('reditectToPage', 1);"
            >
              <span>1</span>
            </li>
            <li class="view-more-list-item" @click="$emit('reditectToPage', 2);">
              <span class="showempty">2</span>
            </li>
            <li class="view-more-list-item" @click="$emit('reditectToPage', 3);">
              <span class="showempty">3</span>
            </li>
            <li class="view-more-list-item" @click="$emit('nextPage');">
              <i class="fa fa-angle-right"></i>
            </li>
            <li class="view-more-list-item" @click="$emit('lastPage');">
              <i class="fa fa-angle-double-right"></i>
            </li>
          </ul>
        </div>
        <div class="page-option-selector pull-right">
          <select
            class="form-control"
            v-model="Length"
            v-on:change="$emit('getRecordsPerPage', Length)"
          >
            <option v-for="records in perPage" :key="records" :value="records">{{records}}</option>
          </select>
          <p>Displaying {{ pagination.from }}-{{ pagination.to }} of {{ pagination.total }} records</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["columns", "tabelData", "pagination"],
  components: {},
  data: () => {
    return {
      perPage: [10, 20, 30, 50, 100],
      Length: 10
    };
  }
};
</script>
<style scoped>
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-weight: 300;
}

.app {
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
  color: #3f4047;
}

/*  Dashboard Start Style */

.dashboard-start {
  position: relative;
  width: 100%;
  height: 100%;
}

#dashboard-main {
  position: absolute;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: none;
}

.dashboard-information-page {
  width: 100%;
  height: auto;
  vertical-align: middle;
  background: #dcdada !important;
  position: relative;
  overflow: scroll;
}

/*============================
Dashboard Sub Header
===========================*/

.dashboard-content {
  padding: 30px 30px;
  margin-bottom: 25px;
}

.dashboard-content-subheader {
  padding: 0;
  padding-bottom: 10px;
}

.dashboard-content-subheader h3 {
  display: inline-block;
  padding: 7px 25px 7px 0;
  font-family: Roboto;
  font-weight: 600;
  font-size: 1.55rem;
  font-weight: 500;
  vertical-align: middle;
  margin: 0 15px 0 0;
  color: #3f4047;
}

.dashboard-content-subheader-menu {
  display: inline-block;
  width: auto;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.dashboard-content-subheader-menu li {
  padding-left: 0;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.dashboard-content-subheader-menu li a {
  width: auto;
  padding: 9px 0;
  display: table-cell;
  height: 100%;
  text-decoration: none;
  outline: none !important;
  vertical-align: middle;
  color: #898b96;
}

.dashboard-content-subheader-menu li a:hover {
  color: black !important;
}

.dashboard-content-subheader-menu li a i {
  padding-right: 10px;
  width: auto;
  text-align: center;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  font-size: 1.4rem;
  line-height: 0;
}

.dashboard-content-subheader-menu li span {
  height: auto;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 5px;
  margin: 0;
}

.subheader-menu-page-changer {
  display: table-cell;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
}

/*============================
End Dashboard Sub Header
===========================*/

/*=============================
Dashboard Search Bar
===========================*/

.dashboard-country-searchbar-body {
  margin-bottom: 1.5rem;
}

.country-searchbar {
  margin-bottom: 1.5rem;
  position: relative;
}

.country-searchbar input {
  background-color: #fff;
  border-color: #f4f5f8;
  color: #575962;
  padding-left: 35px;
}

.country-searchbar span {
  position: absolute;
  font-size: 18px;
  top: 4px;
  left: 15px;
  color: #575962;
}

.country-searchbar input:focus {
  border-color: #111;
  background: #f2f3f8;
}

.add-more-col-dashboard i {
  border-radius: 100% !important;
  width: 50px;
  height: 50px;
  line-height: 50px !important;
  padding: 0 !important;
  text-align: center !important;
  font-size: 30px;
  border-color: #0ec5b6;
  display: block;
  background: linear-gradient(to right, #2bd991, #0bc3b9) !important;
  color: #fff;
  box-shadow: 0px 10px 25px 1px rgba(38, 214, 151, 0.42);
  cursor: pointer;
}

.add-more-data-btn {
  line-height: 1;
  font-size: 12px;
  color: #000;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
  width: 54px;
  border-radius: 3px;
  cursor: pointer;
}

.add-more-data-btn-school {
  position: relative;
  left: -12px;
  width: auto;
  top: 10px;
  padding: 5px;
  line-height: 1;
  font-size: 12px;
  color: #000;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}

.add-more-data-btn-teacher {
  position: relative;
  left: -30px;
  width: auto;
  top: 10px;
  padding: 6px;
  line-height: 1;
  font-size: 12px;
  color: #000;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}

.add-more-data-btn:hover,
.add-more-data-btn-school:hover,
.add-more-data-btn-teacher:hover {
  background: linear-gradient(to right, #2bd991, #0bc3b9) !important;
  color: #fff;
}

/*==========================
End Dashboar Search Bar
========================*/

/*================================
Dashboard Table Grid View
==============================*/

.dashboard-grid-view-table {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/*===============================
End Dashboard Table Grid View
==============================*/

/*================================

=================================*/
.black .font {
  font-size: 20px !important;
}
.black {
  color: red;
}

.table-list-view-more {
  display: table-cell;
  float: left;
}

.table-list-view-more-order-list {
  list-style: none;
}

.view-more-list-item {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  margin-right: 5px;
  padding: 5px;
}

.view-more-list-item a {
  text-decoration: none;
}

.view-more-list-item a span {
  color: #fff;
}

.view-more-list-item a i {
  /*font-size: 1.5rem;*/
  color: #000;
  background: #edecf8;
  border-radius: 100%;
}

.view-more-list-item-active {
  background: linear-gradient(to right, #2bd991, #0bc3b9) !important;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 100%;
}

.showempty {
  color: #000 !important;
}

.page-option-selector {
  display: flex;
  height: 65px;
}

.page-option-selector .form-control {
  background: #edecf8 !important;
  color: #111;
  border-radius: 25px;
  width: auto;
}

.page-option-selector .form-control:focus {
  border: 1px solid #111;
}

.page-option-selector p {
  margin-left: 20px;
  display: table-cell;
  line-height: 35px;
}

/*============================================= Start teacher page =========================================*/

.teacher-licensee-table {
  border-collapse: separate;
  border-spacing: 0 0.5em;
  text-align: left;
}

.teacher-licensee-table thead th {
  border: none;
}

.teacher-licensee-table thead i {
  padding-left: 10px;
  display: none;
}

.teacher-licensee-table thead a {
  color: #828286;
  text-decoration: none;
  font-weight: 400;
}

.teacher-table-action {
  width: 220px;
}

.teacher-licensee-table tbody td {
  background-color: #fff;
  border: none;
  vertical-align: middle;
}

.teacher-licensee-table tbody td span {
  font-weight: 600;
  color: #575962;
}

.teacher-licensee-table-action {
  display: flex;
}

.teacher-licensee-table-action span {
  margin-right: 20px;
}

.teacher-licensee-table-action span i {
  display: block;
  text-align: center;
}

.teacher-table-check-box {
  width: 30px;
}

.teacher-licensee-table-action span:hover {
  cursor: pointer;
  color: #0bc3b9;
}

.teacher-table-action-permission:hover,
.teacher-table-action-view-report:hover {
  color: #c91d12 !important;
}

.teacher-table-action-responsive {
  width: 258px;
}

.teacher-table-name,
.teacher-table--country,
.teacher-table-email,
.teacher-table-contact {
  width: 148px;
}

/*=============================================== End teacher page ==========================================*/

/*============================================== Media Query Dashboard ========================================*/

@media only screen and (max-width: 935px) {
  .dashboard-toggle-button {
    display: none;
  }
  .responsive-toggle-switch {
    display: block;
    float: right;
  }
  .free-space {
    display: none;
  }
  .dashboard-admin-management {
    width: 100%;
    background: #fff;
  }
  .dashboard-admin-order-list {
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
  }
  .dashboard-admin-order-list li {
    margin: 0px;
  }
  .menu-bar-responsive-close {
    display: block;
  }
  .dashboard-menu-sidebar {
    left: -255px;
    padding: 0px;
    position: absolute;
    z-index: 1000;
    top: 0px;
  }
  .dashboard-menu-sidebar.responsive {
    left: 0px;
    transition: 0.5s;
  }
  .ashboard-more-table-data {
    margin-bottom: 30px;
  }
  .footer {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1025px) {
  .add-more-col-dashboard {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 745px) {
  .country-table-list-sno,
  .country-table-list-name {
    width: auto;
    text-align: center;
  }
  .country-table-list-short-code,
  .country-table-list-ountry-code,
  .country-table-list-status {
    width: 140px;
  }
  .footer-copyright {
    float: none;
    text-align: center;
  }
  .add-more-col-dashboard {
    float: none;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 470px) {
  .dashboard-top-title {
    display: none;
  }
  .add-more-col-dashboard {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .footer-copyright span {
    font-size: 11px;
  }
}
</style>